#include "monokey.dtsi"

&kscan0 {
        col-gpios
            = <&xiao_d 10 GPIO_ACTIVE_HIGH>
            , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
            , <&gpio0 10 GPIO_ACTIVE_HIGH>
            , <&gpio0 9 GPIO_ACTIVE_HIGH>
            ;
};

/ {
    chg_stat: chg_stat {
        compatible = "custom,chg-stat";
        /* Xiao BLE の充電検知ピン P0.17 (Low = 充電中, High = 完了/未接続) */
        gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
        status = "okay";
    };
};
